.faq-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.faq-card__category {
  position: absolute;
  width: 94px;
  height: 16px;
  left: 20px;
  top: 18px;
  font: var(--font-13);
  font-weight: 200;
  line-height: 16px;
  color: var(--pri-500);
}

.faq-card__line {
  position: absolute;
  width: 340px;
  height: 0px;
  left: 20px;
  top: 39px;
  border: 0.5px solid var(--bg-600);
}

.faq-card__question {
  position: absolute;
  width: 340px;
  height: 38px;
  left: 20px;
  top: 44px;
  font: var(--font-16);
  font-weight: 700;
  line-height: 19px;
  color: var(--black);
}

@media (min-width: 481px) {
  .faq-card {
    width: 540px;
    height: 100px;
    background: var(--bg-500);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .faq-card__line {
    width: 500px;
  }

  .faq-card__question {
    width: 500px;
    height: 19px;
    left: 20.11px;
    top: 54px;
  }
}

@media (min-width: 1025px) {
  .faq-card {
    width: 540px;
    height: 100px;
  }
}
