.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* Para que se vea igual que .contact-input */
  margin-bottom: 0;
}

.input__label {
  color: var(--pri-100);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.input__wrapper {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: auto;
  min-height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: border 0.2s;
  box-sizing: border-box;
}

.input__field {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  height: 100%;
}

.input__field:focus {
  border: none;
  outline: none;
}

.input__wrapper:focus-within {
  border-color: #bfa46f;
}

.input__error {
  color: var(--acc-700);
  font-size: 12px;
  margin-top: 2px;
  margin-left: 4px;
}

.input__field:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

::placeholder {
  color: rgba(186, 184, 206, 0.3);
  opacity: 1;
}
