.pricing-card {
  background: var(--white);
  border-radius: 8px;
  padding: 1.5rem 3rem;
  text-align: center;
  border: 1px solid var(--pri-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
}

.pricing-card--highlight {
  border: 0.5px solid var(--acc-500);
}

.pricing-card__tag {
  display: inline-block;
  background: var(--acc-700);
  color: var(--white);
  font-size: var(--font-13);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.pricing-card__title {
  font: var(--font-25);
  margin: 0.5rem 0;
  font-weight: bold;
}

.pricing-card__comment {
  font: var(--font-13);
  color: var(--pri-500);
  font-weight: 400;
  margin: 0 1rem;
}

.pricing-card__price {
  font: var(--font-39);
  font-weight: bold;
  color: var(--acc-700);
  margin: 1rem 0;
}

.pricing-card__price span {
  font: var(--font-16);
  color: var(--pri-500);
  font-weight: 300;
}

.pricing-card__features {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.pricing-card__feature {
  font: var(--font-16);
  color: var(--pri-700);
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.pricing-card__feature-icon {
  display: flex;
  align-items: center;
  margin-right: 0.3em;
}

.custom-button--pricingcard {
  min-height: 30px !important;
  height: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: var(--font-13) !important;
  width: 100% !important;
}

.pricing-card__feature-check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.3em;
  position: relative;
}

.pricing-card__feature-check::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 8px;
  height: 14px;
  border: solid var(--sec-500);
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.pricing-card__icons {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  margin-bottom: 0.5em;
}

.pricing-card__icon img {
  width: 44.4px;
  height: 55.5px;
  display: block;
}

@media (min-width: 768px) {
  .pricing-card {
    width: 100%;
    max-width: 340px;
    min-height: 500px;
    box-sizing: border-box;
    padding: 2rem 3rem;
  }

  .pricing-card__comment {
    margin: 0 0.5rem;
  }

  .pricing-card__features {
    text-align: left;
    padding-left: 0;
  }

  .pricing-card__feature {
    justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 479px) {
  .pricing-card {
    padding: 1.5rem 3rem;
    margin: 0;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }

  .pricing-card__comment {
    margin: 0 0.5rem;
    font-size: var(--font-12);
  }

  .pricing-card__title {
    font-size: var(--font-22);
    margin: 0.3rem 0;
  }

  .pricing-card__price {
    font-size: var(--font-32);
    margin: 0.8rem 0;
  }

  .pricing-card__features {
    margin-bottom: 0.8rem;
  }

  .pricing-card__feature {
    font-size: var(--font-14);
    gap: 0.5em;
  }
}

@media (min-width: 1025px) {
  .pricing-card {
    max-width: 360px;
    padding: 2rem 4rem;
  }
}
